<a href="https://colab.research.google.com/github/zanzivyr/polars-vs-pandas/blob/main/Polars_vs_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Polars Basics

From Towards Data Science

https://towardsdatascience.com/getting-started-with-the-polars-dataframe-library-6f9e1c014c5c

In [ ]:
!pip install polars

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting polars
  Downloading polars-0.15.11-cp37-abi3-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (14.6 MB)
     |████████████████████████████████| 14.6 MB 5.2 MB/s
Requirement already satisfied: typing_extensions>=4.0.0 in /usr/local/lib/python3.8/dist-packages (from polars) (4.4.0)
Installing collected packages: polars
Successfully installed polars-0.15.11

In [ ]:
import polars as pl

df = pl.DataFrame(
    {
        'Model':['iPhone X','iPhone XS','iPhone 12',
                   'iPhone 13','Samsung S11','Samsung S12',
                   'Mi A1','Mi A2'],
        'Sales':[80,170,130,205,400,30,14,8],
        'Company':['Apple','Apple','Apple','Apple',
                     'Samsung','Samsung','Xiao Mi','Xiao Mi'],
    }
)

In [ ]:
df

shape: (8, 3)
┌─────────────┬───────┬─────────┐
│ Model       ┆ Sales ┆ Company │
│ ---         ┆ ---   ┆ ---     │
│ str         ┆ i64   ┆ str     │
╞═════════════╪═══════╪═════════╡
│ iPhone X    ┆ 80    ┆ Apple   │
│ iPhone XS   ┆ 170   ┆ Apple   │
│ iPhone 12   ┆ 130   ┆ Apple   │
│ iPhone 13   ┆ 205   ┆ Apple   │
│ Samsung S11 ┆ 400   ┆ Samsung │
│ Samsung S12 ┆ 30    ┆ Samsung │
│ Mi A1       ┆ 14    ┆ Xiao Mi │
│ Mi A2       ┆ 8     ┆ Xiao Mi │
└─────────────┴───────┴─────────┘

In [ ]:
df.dtypes

[Utf8, Int64, Utf8]

In [ ]:
df.columns

['Model', 'Sales', 'Company']

In [ ]:
df.rows

<bound method DataFrame.rows of shape: (8, 3)
┌─────────────┬───────┬─────────┐
│ Model       ┆ Sales ┆ Company │
│ ---         ┆ ---   ┆ ---     │
│ str         ┆ i64   ┆ str     │
╞═════════════╪═══════╪═════════╡
│ iPhone X    ┆ 80    ┆ Apple   │
│ iPhone XS   ┆ 170   ┆ Apple   │
│ iPhone 12   ┆ 130   ┆ Apple   │
│ iPhone 13   ┆ 205   ┆ Apple   │
│ Samsung S11 ┆ 400   ┆ Samsung │
│ Samsung S12 ┆ 30    ┆ Samsung │
│ Mi A1       ┆ 14    ┆ Xiao Mi │
│ Mi A2       ┆ 8     ┆ Xiao Mi │
└─────────────┴───────┴─────────┘>

In [ ]:
df.rows()

[('iPhone X', 80, 'Apple'),
 ('iPhone XS', 170, 'Apple'),
 ('iPhone 12', 130, 'Apple'),
 ('iPhone 13', 205, 'Apple'),
 ('Samsung S11', 400, 'Samsung'),
 ('Samsung S12', 30, 'Samsung'),
 ('Mi A1', 14, 'Xiao Mi'),
 ('Mi A2', 8, 'Xiao Mi')]

In [ ]:
df.select(
    'Model'
)

shape: (8, 1)
┌─────────────┐
│ Model       │
│ ---         │
│ str         │
╞═════════════╡
│ iPhone X    │
│ iPhone XS   │
│ iPhone 12   │
│ iPhone 13   │
│ Samsung S11 │
│ Samsung S12 │
│ Mi A1       │
│ Mi A2       │
└─────────────┘

In [ ]:
df.select(
    ['Model','Company']
)

shape: (8, 2)
┌─────────────┬─────────┐
│ Model       ┆ Company │
│ ---         ┆ ---     │
│ str         ┆ str     │
╞═════════════╪═════════╡
│ iPhone X    ┆ Apple   │
│ iPhone XS   ┆ Apple   │
│ iPhone 12   ┆ Apple   │
│ iPhone 13   ┆ Apple   │
│ Samsung S11 ┆ Samsung │
│ Samsung S12 ┆ Samsung │
│ Mi A1       ┆ Xiao Mi │
│ Mi A2       ┆ Xiao Mi │
└─────────────┴─────────┘

In [ ]:
df.select(
    pl.col(pl.Int64)
)

shape: (8, 1)
┌───────┐
│ Sales │
│ ---   │
│ i64   │
╞═══════╡
│ 80    │
│ 170   │
│ 130   │
│ 205   │
│ 400   │
│ 30    │
│ 14    │
│ 8     │
└───────┘

In [ ]:
df.select(
    pl.col(['Model','Sales']).sort_by('Sales')
)

shape: (8, 2)
┌─────────────┬───────┐
│ Model       ┆ Sales │
│ ---         ┆ ---   │
│ str         ┆ i64   │
╞═════════════╪═══════╡
│ Mi A2       ┆ 8     │
│ Mi A1       ┆ 14    │
│ Samsung S12 ┆ 30    │
│ iPhone X    ┆ 80    │
│ iPhone 12   ┆ 130   │
│ iPhone XS   ┆ 170   │
│ iPhone 13   ┆ 205   │
│ Samsung S11 ┆ 400   │
└─────────────┴───────┘

In [ ]:
df.select(
    [pl.col(pl.Int64),'Company']
)

shape: (8, 2)
┌───────┬─────────┐
│ Sales ┆ Company │
│ ---   ┆ ---     │
│ i64   ┆ str     │
╞═══════╪═════════╡
│ 80    ┆ Apple   │
│ 170   ┆ Apple   │
│ 130   ┆ Apple   │
│ 205   ┆ Apple   │
│ 400   ┆ Samsung │
│ 30    ┆ Samsung │
│ 14    ┆ Xiao Mi │
│ 8     ┆ Xiao Mi │
└───────┴─────────┘

In [ ]:
df.select(
    [pl.col(pl.Utf8)]
)

shape: (8, 2)
┌─────────────┬─────────┐
│ Model       ┆ Company │
│ ---         ┆ ---     │
│ str         ┆ str     │
╞═════════════╪═════════╡
│ iPhone X    ┆ Apple   │
│ iPhone XS   ┆ Apple   │
│ iPhone 12   ┆ Apple   │
│ iPhone 13   ┆ Apple   │
│ Samsung S11 ┆ Samsung │
│ Samsung S12 ┆ Samsung │
│ Mi A1       ┆ Xiao Mi │
│ Mi A2       ┆ Xiao Mi │
└─────────────┴─────────┘

In [ ]:
df.row(0)

('iPhone X', 80, 'Apple')

In [ ]:
df.filter(
    pl.col('Company') == 'Apple'
)

shape: (4, 3)
┌───────────┬───────┬─────────┐
│ Model     ┆ Sales ┆ Company │
│ ---       ┆ ---   ┆ ---     │
│ str       ┆ i64   ┆ str     │
╞═══════════╪═══════╪═════════╡
│ iPhone X  ┆ 80    ┆ Apple   │
│ iPhone XS ┆ 170   ┆ Apple   │
│ iPhone 12 ┆ 130   ┆ Apple   │
│ iPhone 13 ┆ 205   ┆ Apple   │
└───────────┴───────┴─────────┘

In [ ]:
df.filter(
    (pl.col('Company') == 'Apple') |
    (pl.col('Company') == 'Samsung')
)

shape: (6, 3)
┌─────────────┬───────┬─────────┐
│ Model       ┆ Sales ┆ Company │
│ ---         ┆ ---   ┆ ---     │
│ str         ┆ i64   ┆ str     │
╞═════════════╪═══════╪═════════╡
│ iPhone X    ┆ 80    ┆ Apple   │
│ iPhone XS   ┆ 170   ┆ Apple   │
│ iPhone 12   ┆ 130   ┆ Apple   │
│ iPhone 13   ┆ 205   ┆ Apple   │
│ Samsung S11 ┆ 400   ┆ Samsung │
│ Samsung S12 ┆ 30    ┆ Samsung │
└─────────────┴───────┴─────────┘

In [ ]:
df.filter(
    pl.col('Company') == 'Apple'
).select('Model')

shape: (4, 1)
┌───────────┐
│ Model     │
│ ---       │
│ str       │
╞═══════════╡
│ iPhone X  │
│ iPhone XS │
│ iPhone 12 │
│ iPhone 13 │
└───────────┘

In [ ]:
df.filter(
    pl.col('Company') == 'Apple'
).select(['Model','Sales'])

shape: (4, 2)
┌───────────┬───────┐
│ Model     ┆ Sales │
│ ---       ┆ ---   │
│ str       ┆ i64   │
╞═══════════╪═══════╡
│ iPhone X  ┆ 80    │
│ iPhone XS ┆ 170   │
│ iPhone 12 ┆ 130   │
│ iPhone 13 ┆ 205   │
└───────────┴───────┘

In [ ]:
df.head()

shape: (5, 3)
┌─────────────┬───────┬─────────┐
│ Model       ┆ Sales ┆ Company │
│ ---         ┆ ---   ┆ ---     │
│ str         ┆ i64   ┆ str     │
╞═════════════╪═══════╪═════════╡
│ iPhone X    ┆ 80    ┆ Apple   │
│ iPhone XS   ┆ 170   ┆ Apple   │
│ iPhone 12   ┆ 130   ┆ Apple   │
│ iPhone 13   ┆ 205   ┆ Apple   │
│ Samsung S11 ┆ 400   ┆ Samsung │
└─────────────┴───────┴─────────┘

# Eager Quickstart

https://www.youtube.com/watch?v=VHqn7ufiilE

In [ ]:
filtered = (df.filter(pl.col('Sales') > 200)
  .groupby('Company', maintain_order=True)
  .agg(pl.all().sum())
 )

print(filtered)

shape: (2, 3)
┌─────────┬───────┬───────┐
│ Company ┆ Model ┆ Sales │
│ ---     ┆ ---   ┆ ---   │
│ str     ┆ str   ┆ i64   │
╞═════════╪═══════╪═══════╡
│ Apple   ┆ null  ┆ 205   │
│ Samsung ┆ null  ┆ 400   │
└─────────┴───────┴───────┘

In [ ]:
import pandas as pd

dfp = pd.DataFrame(
    {
        'Model':['iPhone X','iPhone XS','iPhone 12',
                   'iPhone 13','Samsung S11','Samsung S12',
                   'Mi A1','Mi A2'],
        'Sales':[80,170,130,205,400,30,14,8],
        'Company':['Apple','Apple','Apple','Apple',
                     'Samsung','Samsung','Xiao Mi','Xiao Mi'],
    }
)

dfp.query('Sales > 200') \
    .groupby('Company').sum()

         Sales
Company
Apple      205
Samsung    400

# Lazy Example

In [ ]:
((df)
  .lazy()
  .filter(pl.col('Sales') > 200)
  .groupby('Company', maintain_order = True)
  .agg(pl.all().sum())
)

In [ ]:
((df)
  .lazy()
  .filter(pl.col('Sales') > 200)
  .groupby('Company', maintain_order = True)
  .agg(pl.all().sum())
  .collect()
)

shape: (2, 3)
┌─────────┬───────┬───────┐
│ Company ┆ Model ┆ Sales │
│ ---     ┆ ---   ┆ ---   │
│ str     ┆ str   ┆ i64   │
╞═════════╪═══════╪═══════╡
│ Apple   ┆ null  ┆ 205   │
│ Samsung ┆ null  ┆ 400   │
└─────────┴───────┴───────┘

# Speed Test

Using Kaggle Dataset to test Polars vs Pandas.
- How-to: https://www.kaggle.com/general/156610
- Dataset: https://www.kaggle.com/datasets/miaoshihao/csv-dataset

## Get Data from Kaggle

**Important**: You'll need to mount your Google Drive first!

    from google.colab import drive
    drive.mount('/content/gdrive')

In [ ]:
from google.colab import files

files.upload() #this will prompt you to upload the kaggle.json

In [ ]:
!ls -lha kaggle.json

-rw-r--r-- 1 root root 64 Jan  2 16:49 kaggle.json

In [ ]:
!pip install -q kaggle

In [ ]:
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/

In [ ]:
!chmod 600 /root/.kaggle/kaggle.json

In [ ]:
!pwd

/content

In [ ]:
!kaggle datasets list

ref                                                           title                                               size  lastUpdated          downloadCount  voteCount  usabilityRating
------------------------------------------------------------  -------------------------------------------------  -----  -------------------  -------------  ---------  ---------------
meirnizri/covid19-dataset                                     COVID-19 Dataset                                     5MB  2022-11-13 15:47:17          14942        423  1.0
devrimtuner/list-of-moststreamed-songs-on-spotify             Top 100 Spotify Songs👑🎤🎧🎼                            3KB  2022-12-30 05:42:54            319         26  1.0
thedevastator/analyzing-credit-card-spending-habits-in-india  Credit Card Spending Habits in India               319KB  2022-12-14 07:30:37           1513         51  1.0
die9origephit/fifa-world-cup-2022-complete-dataset            Fifa World Cup 2022: Complete Dataset                7KB  2022-12-18 22:51:11           3126        111  1.0
michals22/coffee-dataset                                      Coffee dataset                                      24KB  2022-12-15 20:02:12           3634         82  1.0
heemalichaudhari/netflix-movies-and-series                    Netflix Movies and Series                            2MB  2022-12-22 13:34:22           1027         30  0.8235294
sejungjenn/spotify-best-songs-of-2022                         Spotify: Winner Tracks Audio Features🎹              38KB  2022-12-28 08:06:49            259         21  1.0
thedevastator/unlock-profits-with-e-commerce-sales-data       E-Commerce Sales Dataset                             6MB  2022-12-03 09:27:17           2887         72  1.0
aklimarimi/qs-world-ranked-universities-20182022              QS World ranked Universities (2018-2022)            51KB  2022-12-28 03:53:39            463         28  1.0
rajeshrampure/black-friday-sale                               Black Friday Sale                                    5MB  2022-12-24 09:37:49            824         28  1.0
devrimtuner/highestpaid-athletes                              HIGHEST-PAID ATHLETES⚽️🏀🏈⚾️🥎🎾                        1KB  2022-12-29 01:29:51            268         25  1.0
heemalichaudhari/shopping                                     Shopping                                            12KB  2022-12-26 14:25:07            359         22  0.9411765
milanvaddoriya/old-car-price-prediction                       Old car price prediction                           105KB  2022-12-24 15:38:56            369         27  1.0
thedevastator/how-does-daily-yoga-impact-screen-time-habits   How Does Daily Yoga Impact Screen Time Habits       742B  2022-12-14 04:10:56            586         21  1.0
thedevastator/uncovering-factors-that-affect-used-car-prices  Used Cars                                           18MB  2022-12-06 13:36:08           1022         31  1.0
devrimtuner/list-of-mostfollowed-instagram-accounts           (TOP 50)List of most-followed Instagram accounts👑    2KB  2022-12-30 07:52:00            312         25  1.0
thedevastator/jobs-dataset-from-glassdoor                     Salary Prediction                                    3MB  2022-11-16 13:52:31           8343        178  1.0
dansbecker/melbourne-housing-snapshot                         Melbourne Housing Snapshot                         451KB  2018-06-05 12:52:24         103261       1188  0.7058824
mattop/best-selling-game-boy-video-games                      Best Selling Game Boy Video Games                    2KB  2022-12-17 18:41:38            369         27  0.9705882
rajeshrampure/zomato-dataset                                  Zomato Dataset                                      89MB  2022-12-23 07:38:07            508         28  1.0

In [ ]:
!kaggle datasets download -d miaoshihao/csv-dataset

Downloading csv-dataset.zip to /content
 97% 599M/614M [00:05<00:00, 129MB/s]
100% 614M/614M [00:05<00:00, 108MB/s]

In [ ]:
!unzip csv-dataset.zip

Archive:  csv-dataset.zip
  inflating: data_electronics_no_spck_comwdrm.csv
  inflating: data_movie_no_spck_comwdrm.csv

## Compare Speed

In [ ]:
large_data = "/content/data_movie_no_spck_comwdrm.csv"

### Polars

In [ ]:
%%timeit

df2 = pl.read_csv(large_data)
df2.filter(
    pl.col('overall') == 3
).select(['summary'])

3.89 s ± 15.9 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

### Pandas

In [ ]:
%%timeit

df2p = pd.read_csv(large_data)
df2p.query('overall == 3')['summary']

14.4 s ± 972 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)